<% form_for @supplier do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome_fantasia %><br />
    <%= f.text_field :nome_fantasia %>
  </p>
  <p>
    <%= f.label :razao_social %><br />
    <%= f.text_field :razao_social %>
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :endereci %><br />
    <%= f.text_field :endereci %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </p>
  <p>
    <%= f.label :atividade %><br />
    <%= f.text_area :atividade %>
  </p>
  <p>
    <%= f.label :contato %><br />
    <%= f.text_field :contato %>
  </p>
  <p>
    <%= f.label :outros_contatos %><br />
    <%= f.text_area :outros_contatos %>
  </p>
  <p>
    <%= f.label :servicos_realizados %><br />
    <%= f.text_area :servicos_realizados %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </p>
  <p><%= f.submit "Gravar" %></p>
<% end %>
